    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
/* Block placement */
:root {
    font-size: 20px;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input {
    position: absolute;
}
input[type=radio] {
    top: -20px;
    left: -20px;
}
input[type=radio]:checked ~ input[type=reset] {
    visibility: visible;
}
input[type=reset] {
    background-color: rgb(46, 46, 46);
    border: 0;
    border-radius: 0;
    color: #ff5100;
    padding: 0.5em 0.75em;
    bottom: 5%;
    left: 50%;
    visibility: hidden;
    transform: translateX(-50%);
    transition: background-color 0.2s;
    -webkit-appearance: none;
    appearance: none;
}
input[type=reset]:hover, input[type=reset]:focus {
    background-color: #0f0f0f;
}
input[type=reset]:active {
    background-color: #ffffff;
}
.container1 {
    animation: fadeIn 0.25s 0.25s linear forwards;
    display: flex;
    margin: auto;
    position:absolute;
    opacity: 0;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 800px;
    transform-style: preserve-3d;
}
.surface {
    display: block;
    width: 384px;
    height: 224px;
    margin: auto;
    transform-style: preserve-3d;
    transform: translateY(152px) rotateX(80deg) rotateZ(0deg);
    transition: transform 0.25s;
    will-change: transform;
}
.block {
    display: none;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
}
.block-inner div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    width: 16px;
    height: 16px;
}
.block-inner {
    position: relative;
    width: 16px;
    transition: transform 0.25s linear;
    transform-style: preserve-3d;
    transform: rotateX(-90deg) translateZ(16px);
}
.back {
    transform: translateZ(-16px) rotateY(180deg);
}
.left {
    transform-origin: center left;
    transform: rotateY(270deg) translateX(-16px);
}
.right {
    transform-origin: top right;
}
.right::after, .right div {
    top: 0;
    transform-origin: 0 50%;
    transition: transform 0.25s 0.25s linear;
}
.right::after {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 20% 5%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.right div {
    width: 100%;
    height: 100%;
}
.top, .bottom {
    transform-origin: top center;
}
.spine, .right::after, .contents h1 {
    font-family: "Lora", serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.spine {
    background: transparent;
    color: #ccc;
    font-size: 12px;
    line-height: 12px;
    top: 0;
    left: 0;
    transform: rotate(90deg) translate(12px, -50%);
    white-space: nowrap;
    width: 0;
    height: 16px;
}
.cover {
    background-color: #000000;
    z-index: 1;
}
.contents {
    font-size: 11.2px;
    padding: 16px;
    overflow-y: auto;
    max-height: 100%;
}
.contents h1 {
    color: rgb(255, 72, 0);
    font-size: 2em;
}
.contents h2, h3 {
    color: rgb(255, 72, 0);
    font-size: 1.3em;
}
.contents p {
    font-family: "Source Sans Pro", serif;
    color: rgb(255, 72, 0);
}
.b1 {
    display: block;
    transform: translate3d(16px, -224px, 16px);
}
.b1 .block-inner > div {
    background-color: #441e12;
}
.b1 .block-inner > div.top, .b1 .block-inner > div.bottom {
    width: 352px;
    height: 224px;
}
.b1 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-208px);
}
.b1 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-208px) translateZ(16px);
}
.b1 .block-inner > div.front::before, .b1 .block-inner > div.back::before, .b1 .block-inner > div.left::before, .b1 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b1 .block-inner > div.front, .b1 .block-inner > div.back {
    width: 352px;
    height: 16px;
}
.b1 .block-inner > div.front::before, .b1 .block-inner > div.back::before {
    opacity: 0.2;
}
.b1 .block-inner > div.front {
    transform: translateZ(208px);
}
.b1 .block-inner > div.left, .b1 .block-inner > div.right {
    width: 224px;
    height: 16px;
}
.b1 .block-inner > div.left::before, .b1 .block-inner > div.right::before {
    opacity: 0.4;
}
.b1 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, 128px);
    transform-style: preserve-3d;
}
.b2 {
    display: block;
    transform: translate3d(0px, -224px, 288px);
}
.b2 .block-inner > div {
    background-color: #441e12;
}
.b2 .block-inner > div.top, .b2 .block-inner > div.bottom {
    width: 384px;
    height: 16px;
}
.b2 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(0px);
}
.b2 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(288px);
}
.b2 .block-inner > div.front::before, .b2 .block-inner > div.back::before, .b2 .block-inner > div.left::before, .b2 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b2 .block-inner > div.front, .b2 .block-inner > div.back {
    width: 384px;
    height: 288px;
}
.b2 .block-inner > div.front::before, .b2 .block-inner > div.back::before {
    opacity: 0.2;
}
.b2 .block-inner > div.front {
    transform: translateZ(0px);
}
.b2 .block-inner > div.left, .b2 .block-inner > div.right {
    width: 16px;
    height: 288px;
}
.b2 .block-inner > div.left::before, .b2 .block-inner > div.right::before {
    opacity: 0.4;
}
.b2 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, 368px);
    transform-style: preserve-3d;
}
.b3 {
    display: block;
    transform: translate3d(0px, -208px, 288px);
}
.b3 .block-inner > div {
    background-color: #441e12;
}
.b3 .block-inner > div.top, .b3 .block-inner > div.bottom {
    width: 16px;
    height: 208px;
}
.b3 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-192px);
}
.b3 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-192px) translateZ(288px);
}
.b3 .block-inner > div.front::before, .b3 .block-inner > div.back::before, .b3 .block-inner > div.left::before, .b3 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b3 .block-inner > div.front, .b3 .block-inner > div.back {
    width: 16px;
    height: 288px;
}
.b3 .block-inner > div.front::before, .b3 .block-inner > div.back::before {
    opacity: 0.2;
}
.b3 .block-inner > div.front {
    transform: translateZ(192px);
}
.b3 .block-inner > div.left, .b3 .block-inner > div.right {
    width: 208px;
    height: 288px;
}
.b3 .block-inner > div.left::before, .b3 .block-inner > div.right::before {
    opacity: 0.4;
}
.b3 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -192px);
    transform-style: preserve-3d;
}
.b4 {
    display: block;
    transform: translate3d(368px, -208px, 288px);
}
.b4 .block-inner > div {
    background-color: #441e12;
}
.b4 .block-inner > div.top, .b4 .block-inner > div.bottom {
    width: 16px;
    height: 208px;
}
.b4 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-192px);
}
.b4 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-192px) translateZ(288px);
}
.b4 .block-inner > div.front::before, .b4 .block-inner > div.back::before, .b4 .block-inner > div.left::before, .b4 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b4 .block-inner > div.front, .b4 .block-inner > div.back {
    width: 16px;
    height: 288px;
}
.b4 .block-inner > div.front::before, .b4 .block-inner > div.back::before {
    opacity: 0.2;
}
.b4 .block-inner > div.front {
    transform: translateZ(192px);
}
.b4 .block-inner > div.left, .b4 .block-inner > div.right {
    width: 208px;
    height: 288px;
}
.b4 .block-inner > div.left::before, .b4 .block-inner > div.right::before {
    opacity: 0.4;
}
.b4 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -192px);
    transform-style: preserve-3d;
}
.b5 {
    display: block;
    transform: translate3d(0px, -224px, 304px);
}
.b5 .block-inner > div {
    background-color: #441e12;
}
.b5 .block-inner > div.top, .b5 .block-inner > div.bottom {
    width: 384px;
    height: 224px;
}
.b5 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-208px);
}
.b5 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-208px) translateZ(16px);
}
.b5 .block-inner > div.front::before, .b5 .block-inner > div.back::before, .b5 .block-inner > div.left::before, .b5 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b5 .block-inner > div.front, .b5 .block-inner > div.back {
    width: 384px;
    height: 16px;
}
.b5 .block-inner > div.front::before, .b5 .block-inner > div.back::before {
    opacity: 0.2;
}
.b5 .block-inner > div.front {
    transform: translateZ(208px);
}
.b5 .block-inner > div.left, .b5 .block-inner > div.right {
    width: 224px;
    height: 16px;
}
.b5 .block-inner > div.left::before, .b5 .block-inner > div.right::before {
    opacity: 0.4;
}
.b5 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, 160px);
    transform-style: preserve-3d;
}
.b6 {
    display: block;
    transform: translate3d(16px, -208px, 240px);
}
.b6 .block-inner > div {
    background-color: rgb(250, 58, 0);
}
.b6 .block-inner > div.top, .b6 .block-inner > div.bottom {
    width: 32px;
    height: 176px;
}
.b6 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-160px);
}
.b6 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-160px) translateZ(224px);
}
.b6 .block-inner > div.front::before, .b6 .block-inner > div.back::before, .b6 .block-inner > div.left::before, .b6 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b6 .block-inner > div.front, .b6 .block-inner > div.back {
    width: 32px;
    height: 224px;
}
.b6 .block-inner > div.front::before, .b6 .block-inner > div.back::before {
    opacity: 0.2;
}
.b6 .block-inner > div.front {
    transform: translateZ(160px);
}
.b6 .block-inner > div.left, .b6 .block-inner > div.right {
    width: 176px;
    height: 224px;
}
.b6 .block-inner > div.left::before, .b6 .block-inner > div.right::before {
    opacity: 0;
}
.b6 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -144px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b6 .block-inner > div.right::after {
    background-color: rgb(250, 58, 0);
    content: attr(data-title);
}
.b6 .block-inner > div.top, .b6 .block-inner > div.back, .b6 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b7 {
    display: block;
    transform: translate3d(48px, -208px, 256px);
}
.b7 .block-inner > div {
    background-color: rgb(235, 55, 0);
}
.b7 .block-inner > div.top, .b7 .block-inner > div.bottom {
    width: 32px;
    height: 176px;
}
.b7 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-160px);
}
.b7 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-160px) translateZ(240px);
}
.b7 .block-inner > div.front::before, .b7 .block-inner > div.back::before, .b7 .block-inner > div.left::before, .b7 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b7 .block-inner > div.front, .b7 .block-inner > div.back {
    width: 32px;
    height: 240px;
}
.b7 .block-inner > div.front::before, .b7 .block-inner > div.back::before {
    opacity: 0.2;
}
.b7 .block-inner > div.front {
    transform: translateZ(160px);
}
.b7 .block-inner > div.left, .b7 .block-inner > div.right {
    width: 176px;
    height: 240px;
}
.b7 .block-inner > div.left::before, .b7 .block-inner > div.right::before {
    opacity: 0;
}
.b7 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -144px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b7 .block-inner > div.right::after {
    background-color: rgb(235, 55, 0);
    content: attr(data-title);
}
.b7 .block-inner > div.top, .b7 .block-inner > div.back, .b7 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b8 {
    display: block;
    transform: translate3d(80px, -192px, 272px);
}
.b8 .block-inner > div {
    background-color: rgb(214, 50, 0);
}
.b8 .block-inner > div.top, .b8 .block-inner > div.bottom {
    width: 32px;
    height: 160px;
}
.b8 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-144px);
}
.b8 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-144px) translateZ(256px);
}
.b8 .block-inner > div.front::before, .b8 .block-inner > div.back::before, .b8 .block-inner > div.left::before, .b8 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b8 .block-inner > div.front, .b8 .block-inner > div.back {
    width: 32px;
    height: 256px;
}
.b8 .block-inner > div.front::before, .b8 .block-inner > div.back::before {
    opacity: 0.2;
}
.b8 .block-inner > div.front {
    transform: translateZ(144px);
}
.b8 .block-inner > div.left, .b8 .block-inner > div.right {
    width: 160px;
    height: 256px;
}
.b8 .block-inner > div.left::before, .b8 .block-inner > div.right::before {
    opacity: 0;
}
.b8 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -128px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b8 .block-inner > div.right::after {
    background-color: rgb(214, 50, 0);
    content: attr(data-title);
}
.b8 .block-inner > div.top, .b8 .block-inner > div.back, .b8 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b9 {
    display: block;
    transform: translate3d(112px, -192px, 240px);
}
.b9 .block-inner > div {
    background-color: rgb(192, 45, 0);
}
.b9 .block-inner > div.top, .b9 .block-inner > div.bottom {
    width: 32px;
    height: 160px;
}
.b9 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-144px);
}
.b9 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-144px) translateZ(224px);
}
.b9 .block-inner > div.front::before, .b9 .block-inner > div.back::before, .b9 .block-inner > div.left::before, .b9 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b9 .block-inner > div.front, .b9 .block-inner > div.back {
    width: 32px;
    height: 224px;
}
.b9 .block-inner > div.front::before, .b9 .block-inner > div.back::before {
    opacity: 0.2;
}
.b9 .block-inner > div.front {
    transform: translateZ(144px);
}
.b9 .block-inner > div.left, .b9 .block-inner > div.right {
    width: 160px;
    height: 224px;
}
.b9 .block-inner > div.left::before, .b9 .block-inner > div.right::before {
    opacity: 0;
}
.b9 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -128px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b9 .block-inner > div.right::after {
    background-color: rgb(192, 45, 0);
    content: attr(data-title);
}
.b9 .block-inner > div.top, .b9 .block-inner > div.back, .b9 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b10 {
    display: block;
    transform: translate3d(144px, -208px, 256px);
}
.b10 .block-inner > div {
    background-color: rgb(170, 40, 0);
}
.b10 .block-inner > div.top, .b10 .block-inner > div.bottom {
    width: 32px;
    height: 176px;
}
.b10 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-160px);
}
.b10 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-160px) translateZ(240px);
}
.b10 .block-inner > div.front::before, .b10 .block-inner > div.back::before, .b10 .block-inner > div.left::before, .b10 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b10 .block-inner > div.front, .b10 .block-inner > div.back {
    width: 32px;
    height: 240px;
}
.b10 .block-inner > div.front::before, .b10 .block-inner > div.back::before {
    opacity: 0.2;
}
.b10 .block-inner > div.front {
    transform: translateZ(160px);
}
.b10 .block-inner > div.left, .b10 .block-inner > div.right {
    width: 176px;
    height: 240px;
}
.b10 .block-inner > div.left::before, .b10 .block-inner > div.right::before {
    opacity: 0;
}
.b10 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -144px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b10 .block-inner > div.right::after {
    background-color: rgb(170, 40, 0);
    content: attr(data-title);
}
.b10 .block-inner > div.top, .b10 .block-inner > div.back, .b10 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b11 {
    display: block;
    transform: translate3d(176px, -208px, 272px);
}
.b11 .block-inner > div {
    background-color: rgb(148, 35, 0);
}
.b11 .block-inner > div.top, .b11 .block-inner > div.bottom {
    width: 32px;
    height: 176px;
}
.b11 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-160px);
}
.b11 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-160px) translateZ(256px);
}
.b11 .block-inner > div.front::before, .b11 .block-inner > div.back::before, .b11 .block-inner > div.left::before, .b11 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b11 .block-inner > div.front, .b11 .block-inner > div.back {
    width: 32px;
    height: 256px;
}
.b11 .block-inner > div.front::before, .b11 .block-inner > div.back::before {
    opacity: 0.2;
}
.b11 .block-inner > div.front {
    transform: translateZ(160px);
}
.b11 .block-inner > div.left, .b11 .block-inner > div.right {
    width: 176px;
    height: 256px;
}
.b11 .block-inner > div.left::before, .b11 .block-inner > div.right::before {
    opacity: 0;
}
.b11 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -144px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b11 .block-inner > div.right::after {
    background-color: rgb(148, 35, 0);
    content: attr(data-title);
}
.b11 .block-inner > div.top, .b11 .block-inner > div.back, .b11 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b12 {
    display: block;
    transform: translate3d(208px, -192px, 256px);
}
.b12 .block-inner > div {
    background-color: rgb(129, 30, 0);
}
.b12 .block-inner > div.top, .b12 .block-inner > div.bottom {
    width: 32px;
    height: 160px;
}
.b12 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-144px);
}
.b12 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-144px) translateZ(240px);
}
.b12 .block-inner > div.front::before, .b12 .block-inner > div.back::before, .b12 .block-inner > div.left::before, .b12 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b12 .block-inner > div.front, .b12 .block-inner > div.back {
    width: 32px;
    height: 240px;
}
.b12 .block-inner > div.front::before, .b12 .block-inner > div.back::before {
    opacity: 0.2;
}
.b12 .block-inner > div.front {
    transform: translateZ(144px);
}
.b12 .block-inner > div.left, .b12 .block-inner > div.right {
    width: 160px;
    height: 240px;
}
.b12 .block-inner > div.left::before, .b12 .block-inner > div.right::before {
    opacity: 0;
}
.b12 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -128px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b12 .block-inner > div.right::after {
    background-color: rgb(129, 30, 0);
    content: attr(data-title);
}
.b12 .block-inner > div.top, .b12 .block-inner > div.back, .b12 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b13 {
    display: block;
    transform: translate3d(240px, -208px, 272px);
}
.b13 .block-inner > div {
    background-color: rgb(102, 25, 1);
}
.b13 .block-inner > div.top, .b13 .block-inner > div.bottom {
    width: 32px;
    height: 176px;
}
.b13 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-160px);
}
.b13 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-160px) translateZ(256px);
}
.b13 .block-inner > div.front::before, .b13 .block-inner > div.back::before, .b13 .block-inner > div.left::before, .b13 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b13 .block-inner > div.front, .b13 .block-inner > div.back {
    width: 32px;
    height: 256px;
}
.b13 .block-inner > div.front::before, .b13 .block-inner > div.back::before {
    opacity: 0.2;
}
.b13 .block-inner > div.front {
    transform: translateZ(160px);
}
.b13 .block-inner > div.left, .b13 .block-inner > div.right {
    width: 176px;
    height: 256px;
}
.b13 .block-inner > div.left::before, .b13 .block-inner > div.right::before {
    opacity: 0;
}
.b13 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -144px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b13 .block-inner > div.right::after {
    background-color: rgb(102, 25, 1);
    content: attr(data-title);
}
.b13 .block-inner > div.top, .b13 .block-inner > div.back, .b13 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b14 {
    display: block;
    transform: translate3d(272px, -192px, 240px);
}
.b14 .block-inner > div {
    background-color: rgb(87, 20, 0);
}
.b14 .block-inner > div.top, .b14 .block-inner > div.bottom {
    width: 32px;
    height: 160px;
}
.b14 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-144px);
}
.b14 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-144px) translateZ(224px);
}
.b14 .block-inner > div.front::before, .b14 .block-inner > div.back::before, .b14 .block-inner > div.left::before, .b14 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b14 .block-inner > div.front, .b14 .block-inner > div.back {
    width: 32px;
    height: 224px;
}
.b14 .block-inner > div.front::before, .b14 .block-inner > div.back::before {
    opacity: 0.2;
}
.b14 .block-inner > div.front {
    transform: translateZ(144px);
}
.b14 .block-inner > div.left, .b14 .block-inner > div.right {
    width: 160px;
    height: 224px;
}
.b14 .block-inner > div.left::before, .b14 .block-inner > div.right::before {
    opacity: 0;
}
.b14 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -128px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b14 .block-inner > div.right::after {
    background-color: rgb(87, 20, 0);
    content: attr(data-title);
}
.b14 .block-inner > div.top, .b14 .block-inner > div.back, .b14 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b15 {
    display: block;
    transform: translate3d(304px, -192px, 256px);
}
.b15 .block-inner > div {
    background-color: rgb(65, 15, 0);
}
.b15 .block-inner > div.top, .b15 .block-inner > div.bottom {
    width: 32px;
    height: 160px;
}
.b15 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-144px);
}
.b15 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-144px) translateZ(240px);
}
.b15 .block-inner > div.front::before, .b15 .block-inner > div.back::before, .b15 .block-inner > div.left::before, .b15 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b15 .block-inner > div.front, .b15 .block-inner > div.back {
    width: 32px;
    height: 240px;
}
.b15 .block-inner > div.front::before, .b15 .block-inner > div.back::before {
    opacity: 0.2;
}
.b15 .block-inner > div.front {
    transform: translateZ(144px);
}
.b15 .block-inner > div.left, .b15 .block-inner > div.right {
    width: 160px;
    height: 240px;
}
.b15 .block-inner > div.left::before, .b15 .block-inner > div.right::before {
    opacity: 0;
}
.b15 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -128px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b15 .block-inner > div.right::after {
    background-color: rgb(65, 15, 0);
    content: attr(data-title);
}
.b15 .block-inner > div.top, .b15 .block-inner > div.back, .b15 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
.b16 {
    display: block;
    transform: translate3d(336px, -192px, 272px);
}
.b16 .block-inner > div {
    background-color: rgb(65, 15, 0);
}
.b16 .block-inner > div.top, .b16 .block-inner > div.bottom {
    width: 32px;
    height: 160px;
}
.b16 .block-inner > div.top {
    transform: rotateX(-90deg) translateY(-144px);
}
.b16 .block-inner > div.bottom {
    transform: rotateX(-90deg) translateY(-144px) translateZ(256px);
}
.b16 .block-inner > div.front::before, .b16 .block-inner > div.back::before, .b16 .block-inner > div.left::before, .b16 .block-inner > div.right::before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}
.b16 .block-inner > div.front, .b16 .block-inner > div.back {
    width: 32px;
    height: 256px;
}
.b16 .block-inner > div.front::before, .b16 .block-inner > div.back::before {
    opacity: 0.2;
}
.b16 .block-inner > div.front {
    transform: translateZ(144px);
}
.b16 .block-inner > div.left, .b16 .block-inner > div.right {
    width: 160px;
    height: 256px;
}
.b16 .block-inner > div.left::before, .b16 .block-inner > div.right::before {
    opacity: 0;
}
.b16 .block-inner > div.right {
    transform: rotateY(-270deg) translate3d(16px, 0, -128px);
    transform-style: preserve-3d;
    background-color: #000000;
}
.b16 .block-inner > div.right::after {
    background-color: rgb(65, 15, 0);
    content: attr(data-title);
}
.b16 .block-inner > div.top, .b16 .block-inner > div.back, .b16 .block-inner > div.bottom {
    background-color: #000000;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 21%, #aaa 21%, #aaa 25%, transparent 25%, transparent 46%, #aaa 46%, #aaa 50%, transparent 50%);
    background-size: 16px 16px;
}
label:nth-child(n+6):nth-child(-n+17):hover .block-inner {
   /* Book Viewing */
    transform: rotateX(-90deg) translateZ(64px);
}
input[type=radio]:nth-child(1) ~ .surface label:nth-child(6) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(1):checked ~ .surface {
    transform: translate(41.6666666667%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(1):checked ~ .surface label:nth-child(6) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(1):checked ~ .surface label:nth-child(6) .block-inner:hover .right::after, input[type=radio]:nth-child(1):checked ~ .surface label:nth-child(6) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(2) ~ .surface label:nth-child(7) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(2):checked ~ .surface {
    transform: translate(33.3333333333%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(2):checked ~ .surface label:nth-child(7) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(2):checked ~ .surface label:nth-child(7) .block-inner:hover .right::after, input[type=radio]:nth-child(2):checked ~ .surface label:nth-child(7) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(3) ~ .surface label:nth-child(8) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(3):checked ~ .surface {
    transform: translate(25%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(3):checked ~ .surface label:nth-child(8) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(3):checked ~ .surface label:nth-child(8) .block-inner:hover .right::after, input[type=radio]:nth-child(3):checked ~ .surface label:nth-child(8) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(4) ~ .surface label:nth-child(9) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(4):checked ~ .surface {
    transform: translate(16.6666666667%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(4):checked ~ .surface label:nth-child(9) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(4):checked ~ .surface label:nth-child(9) .block-inner:hover .right::after, input[type=radio]:nth-child(4):checked ~ .surface label:nth-child(9) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(5) ~ .surface label:nth-child(10) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(5):checked ~ .surface {
    transform: translate(8.3333333333%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(5):checked ~ .surface label:nth-child(10) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(5):checked ~ .surface label:nth-child(10) .block-inner:hover .right::after, input[type=radio]:nth-child(5):checked ~ .surface label:nth-child(10) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(6) ~ .surface label:nth-child(11) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(6):checked ~ .surface {
    transform: translate(0%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(6):checked ~ .surface label:nth-child(11) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(6):checked ~ .surface label:nth-child(11) .block-inner:hover .right::after, input[type=radio]:nth-child(6):checked ~ .surface label:nth-child(11) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(7) ~ .surface label:nth-child(12) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(7):checked ~ .surface {
    transform: translate(-8.3333333333%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(7):checked ~ .surface label:nth-child(12) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(7):checked ~ .surface label:nth-child(12) .block-inner:hover .right::after, input[type=radio]:nth-child(7):checked ~ .surface label:nth-child(12) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(8) ~ .surface label:nth-child(13) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(8):checked ~ .surface {
    transform: translate(-16.6666666667%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(8):checked ~ .surface label:nth-child(13) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(8):checked ~ .surface label:nth-child(13) .block-inner:hover .right::after, input[type=radio]:nth-child(8):checked ~ .surface label:nth-child(13) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(9) ~ .surface label:nth-child(14) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(9):checked ~ .surface {
    transform: translate(-25%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(9):checked ~ .surface label:nth-child(14) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(9):checked ~ .surface label:nth-child(14) .block-inner:hover .right::after, input[type=radio]:nth-child(9):checked ~ .surface label:nth-child(14) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(10) ~ .surface label:nth-child(15) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(10):checked ~ .surface {
    transform: translate(-33.3333333333%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(10):checked ~ .surface label:nth-child(15) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(10):checked ~ .surface label:nth-child(15) .block-inner:hover .right::after, input[type=radio]:nth-child(10):checked ~ .surface label:nth-child(15) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
input[type=radio]:nth-child(11) ~ .surface label:nth-child(16) .block-inner {
    animation: returnBook 0.25s linear;
}
input[type=radio]:nth-child(11):checked ~ .surface {
    transform: translate(-41.6666666667%, 152px) rotateX(80deg) rotateZ(0deg);
}
input[type=radio]:nth-child(11):checked ~ .surface label:nth-child(16) .block-inner {
    animation: viewBook 0.25s 0.25s linear forwards;
}
input[type=radio]:nth-child(11):checked ~ .surface label:nth-child(16) .block-inner:hover .right::after, input[type=radio]:nth-child(11):checked ~ .surface label:nth-child(16) .block-inner:hover .cover {
    transform: rotateY(-135deg);
}
@keyframes fadeIn {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
@keyframes viewBook {
    from {
        transform: rotateX(-90deg) translateZ(64px) rotateY(0);
   }
    50% {
        transform: rotateX(-90deg) translateZ(240px) rotateY(0);
   }
    to {
        transform: rotateX(-90deg) translateZ(240px) rotateY(-90deg) rotateZ(-10deg) translateZ(-80px);
   }
}
@keyframes returnBook {
    from {
        transform: rotateX(-90deg) translateZ(240px) rotateY(-90deg) rotateZ(-10deg) translateZ(-80px);
   }
    50% {
        transform: rotateX(-90deg) translateZ(240px) rotateY(0);
   }
    to {
        transform: rotateX(-90deg) translateZ(16px) rotateY(0);
   }
}

    body {
        font-family: Arial, sans-serif;
        background-color: #000000;
        color: #ffffff;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Full viewport height */
        flex-direction: column;
    }

    h1, h2, h3 {
        color: #fa560a; /* Primary color */
        margin-bottom: 10px;
        text-align: center;
    }

    .container {
        background-color: #ff770f00;
        border-radius: 12px;
        box-shadow: 0 6px 50px rgb(255, 106, 0);
        padding: 20px;
        width: 75%;
        max-width: 500px; /* Set max width for responsiveness */
    }

    #characterGen {
        display: none;
    }

    #main {
        display: block;
    }
    
    #spellGuide {
        display: none;
    }

    label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold;
        text-align: left;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(255, 67, 10);
        border-radius: 6px;
        margin-bottom: 15px;
        background-color: black;
        color: rgb(255, 255, 255);
        transition: border-color 0.3s;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    select:focus {
        border-color: rgb(255, 67, 10); /* Focus color */
        background-color: rgb(0, 0, 0);
        color: white;
        outline: none;
    }

    button {
        background-color: #000000; /* Button color */
        border-color: rgb(255, 67, 10);
        color: rgb(255, 255, 255);
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        transition: background-color 0.3s;
        margin-bottom: 15px;
    }

    .hidden {
        display: none;
    }

    .character-sheet {
        margin-top: 20px;
        padding: 15px;
        background-color: #000000 ;
        border-radius: 6px;
        white-space: pre-wrap; /* Preserve whitespace */
        font-family: 'Courier New', monospace; /* Monospaced for character sheet */
        text-align: left;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .stat, .skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border: 1px solid rgb(255, 67, 10);
        border-radius: 4px;
        margin: 5px 0;
        background-color: #000000;
    }

    .stat label, .skill label {
        margin-left: 10px;
        font-weight: normal;
    }

    @media (max-width: 600px) {
        .container {
            padding: 15px;
        }

        button {
            padding: 10px;
            font-size: 14px;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.2em;
        }
    }

    *,
*::before,
*::after {
box-sizing: border-box;
}

:root {
/*--- Generated with colorshader.com ---*/
--steel-0: hsl(230,10%,95%);
--steel-1: hsl(230,10%,90%);
--steel-2: hsl(230,10%,85%);
--steel-3: hsl(230,10%,80%);
--steel-4: hsl(230,10%,75%);
--steel-5: hsl(230,10%,70%);
--steel-6: hsl(230,10%,65%);
--steel-7: hsl(230,10%,60%);
--steel-8: hsl(230,10%,55%);
--steel-9: hsl(230,10%,50%);
--steel-10: hsl(230,10%,45%);
--steel-11: hsl(230,10%,40%);
--steel-12: hsl(230,10%,35%);
--steel-13: hsl(230,10%,30%);
--steel-14: hsl(230,10%,25%);
--steel-15: hsl(230,10%,20%);
--steel-16: hsl(230,10%,15%);
--steel-17: hsl(230,10%,10%);
--steel-18: hsl(230,10%,7%);

--blue-0: hsl(24,80%,95%);
--blue-1: hsl(24,80%,90%);
--blue-2: hsl(24,80%,85%);
--blue-3: hsl(24,80%,80%);
--blue-4: hsl(24,80%,75%);
--blue-5: hsl(24,80%,70%);
--blue-6: hsl(24,80%,65%);
--blue-7: hsl(24,80%,60%);
--blue-8: hsl(24,80%,55%);
--blue-9: hsl(24,80%,50%);
--blue-10: hsl(24,80%,45%);
--blue-11: hsl(24,80%,40%);
--blue-12: hsl(24,80%,35%);
--blue-13: hsl(24,80%,30%);
--blue-14: hsl(24,80%,25%);
--blue-15: hsl(24,80%,20%);
--blue-16: hsl(24,80%,15%);
--blue-17: hsl(24,80%,10%);
--blue-18: hsl(24, 78%, 7%);

/*--- set dice size ---*/
--dc-size: 100px; /*dice container*/
--d6-size: calc(var(--dc-size) * .8);
--d8-size: calc(var(--dc-size) * .8);
--d10-size: calc(var(--dc-size) * .9);
--d12-size: calc(var(--dc-size) * .6);
--d20-size: calc(var(--dc-size) * .6);
--perspective: calc(var(--dc-size) * 1.70);

}

::selection {
color: rgb(0, 0, 0);
}

/*---------- REMOVE DEFAULT NUMBER INCREMENT ARROWS ----------*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


#container-Dice {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 36px;
position: relative;
/* border: solid 1px red; */
}

/*---------- NUMBER INCREMENT ----------*/
.incr-cont {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 6px;
position: relative;
}

.num-incr {
display: flex;
justify-content: center;
gap: 2px;
position: relative;
border: solid 3px var(--steel-17);
border-radius: 12px;
background-color: var(--steel-17);
}

.num-incr button {
display: flex;
align-items: center;
justify-content: center;
margin: 0px;
padding: 0px;
width: 18px;
height: 18px;
border: none;
border-radius: 9px;
background-color: var(--steel-15);
}

.num-incr button:hover {
cursor: pointer;
background-color: var(--steel-13);
}

.num-incr button svg {
width: 10px;
height: auto;
stroke: var(--steel-0);
stroke-width: 3px;
stroke-linecap: square;
stroke-linejoin: square;
}

.num-incr button:hover svg {
stroke: var(--steel-0);
}

.num-incr button:focus-visible {
outline: solid 1px var(--steel-0);
}

.num-incr button:focus-visible svg {
stroke: var(--steel-0);
}

.num-incr input[type=number] {
width: 33px;
height: 100%;
padding: 0px 6px;
font-size: 12px;
font-weight: 600;
color: var(--steel-0);
text-align: center;
border: none;
border-radius: 0px;
background-color: var(--steel-17);
}

.num-incr input[type=number]:focus-visible {
outline: 0px;
}

/*---------- DICE ANIMATION ----------*/
@keyframes spin {
from {
transform: rotateX(0) rotateY(0) rotateZ(0);
}
to {
transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
}

/*---------- DICE STYLES ----------*/
.dice-cont {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 18px;
position: relative;
}

.dice {
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
height: var(--dc-size);
margin-bottom: 36px;
border: none;
outline: none;
}

.outcome-cont {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
width: 100%;
height: 100%;
z-index: 10;
pointer-events: none;
}

.outcome {
font-size: 30px;
font-weight: 600;
color: #ffffff;
}

/*--- adjust for tetra shape ---*/
.outcome.d4 {
transform: translateY(12px);
}

.roll-button:hover {
cursor: pointer;
}


/*---------- d4 ----------*/
/*--- ORIGINAL TETRAHEDRON CODE https://codepen.io/web-tiki/pen/wGmWOq?editors=1100 ---*/
.tetra {
position: relative;
width: var(--dc-size); 
height: calc(var(--dc-size) * .866);
margin: 0 auto; 
border: none;
background: none;
transform-style:preserve-3d;
transform-origin: 50% 66%;
transition: transform 1s ease;
/* animation: spin 10s ease-in-out infinite; */
}

.tetra div {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.tetra .face:nth-child(1) {
transform-origin: 0% 100%;
transform: translateZ(calc(var(--dc-size) * -0.33)) rotate(0deg) rotatex(0deg);
}

/* Rotation of –109.5° is angle(C, M[AB], D), per http://www.f-lohmueller.de/pov_tut/geo/geom_200e.htm, 180° – atan(2 * sqrt(2)) ≈ 109.5° */
.tetra .face:nth-child(2) {
transform-origin: 0% 100%;
transform: translateZ(calc(var(--dc-size) * -0.33)) rotate(-60deg) rotatex(-109.5deg);
}
.tetra .face:nth-child(3) {
transform-origin: 100% 100%;
transform: translateZ(calc(var(--dc-size) * -0.33)) rotate(60deg) rotatex(-109.5deg);
}
.tetra .face:nth-child(4) {
transform-origin: 50% 100%;
transform: translateZ(calc(var(--dc-size) * -0.33)) rotate(180deg) rotatex(-109.5deg);
}

.tetra svg {
fill: rgba(0,0,0,0.3);
stroke-width: 2px;
stroke: var(--blue-6);
}

/*---------- d6 ----------*/
.cube {
position: relative;
width: var(--d6-size); 
height: var(--d6-size);
margin: 0 auto; 
transform-style: preserve-3d;
transform-origin: 50% 50%;
border: none;
background: none;
transition: transform 1s ease;
/* border: solid 1px green; */
/* animation: spin 10s ease-in-out infinite; */
}

.cube div {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
}

.cube .face:nth-child(1) {
transform-origin: 50% 100%;
transform: translateZ(calc(var(--d6-size) / 2)) rotatex(0deg);
}

.cube .face:nth-child(2) {
transform-origin: 50% 100%;
transform: translateZ(calc(var(--d6-size) / 2)) rotatex(90deg);
}

.cube .face:nth-child(3) {
transform-origin: 0% 50%;
transform: translateZ(calc(var(--d6-size) / 2)) rotateY(90deg);
}

.cube .face:nth-child(4) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d6-size) / 2)) rotatex(-90deg);
}

.cube .face:nth-child(5) {
transform-origin: 100% 50%;
transform: translateZ(calc(var(--d6-size) / 2)) rotateY(-90deg);
}

.cube .face:nth-child(6) {
transform-origin: 50% 50%;
transform: translateZ(calc(var(--d6-size) / -2));
}

.cube svg {
fill: rgba(0,0,0,0.3);
stroke-width: 2px;
stroke: var(--blue-6);
}

/*---------- d8 ----------*/
.octa {
position: relative;
width: var(--d8-size); 
height: var(--d8-size);
margin: 0 auto; 
border: none;
background: none;
transform-style:preserve-3d;
transform-origin: 50% 50%;
/* transform: rotateX(90deg); */
transition: transform 1s ease;
/* animation: spin 10s ease-in-out infinite; */
}

.octa div {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: calc(var(--d8-size) * .866);
}

.octa .face:nth-child(1) {
transform-origin: 50% 100%;
/* https://en.wikipedia.org/wiki/Platonic_solid#Angles 109.47 / 2 */
transform: rotatex(54.74deg);
}

.octa .face:nth-child(2) {
transform-origin: 0% 100%;
/* 180 - 54.74 */
transform: rotate(-90deg) rotatex(125.26deg);
}

.octa .face:nth-child(3) {
transform-origin: 100% 100%;
transform: rotate(90deg) rotatex(125.26deg);
}

.octa .face:nth-child(4) {
top: 0;
transform-origin: 50% 0%;
transform: rotatex(-54.74deg);
}

.octa .face:nth-child(5) {
top: 0;
transform-origin: 50% 0%;
transform: rotatex(54.74deg);
}

.octa .face:nth-child(6) {
top: 0;
transform-origin: 0% 0%;
transform: rotate(90deg) rotatex(125.26deg);
}

.octa .face:nth-child(7) {
top: 0;
transform-origin: 100% 0%;
transform: rotate(-90deg) rotatex(125.26deg);
}

.octa .face:nth-child(8) {
transform-origin: 50% 100%;
transform: rotatex(-54.74deg);
}

.octa svg {
fill: rgba(0,0,0,0.3);
stroke-width: 2px;
stroke: var(--blue-6);
}

/*---------- d10 ----------*/
.pentrap {
position: relative;
width: var(--d10-size); 
height: var(--d10-size);
margin: 0 auto; 
border: none;
background: none;
transform-style:preserve-3d;
transform-origin: 50% 50%;
transition: transform 1s ease;
/* animation: spin 10s ease-in-out infinite; */
}

.pentrap div {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 50%;
left: 20%;
width: 60%;
height: auto;
/* border: solid 1px cyan; */
}

.pentrap .face:nth-child(1) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * 0.5875)) rotate(0deg) rotatex(-128.18deg);
}

.pentrap .face:nth-child(2) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * 0.5875)) rotate(72deg) rotatex(-128.18deg);
}

.pentrap .face:nth-child(3) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * 0.5875)) rotate(144deg) rotatex(-128.18deg);
}

.pentrap .face:nth-child(4) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * 0.5875)) rotate(216deg) rotatex(-128.18deg);
}

.pentrap .face:nth-child(5) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * 0.5875)) rotate(288deg) rotatex(-128.18deg);
}

.pentrap .face:nth-child(6) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * -0.5875)) rotate(36deg) rotatex(128.18deg);
}

.pentrap .face:nth-child(7) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * -0.5875)) rotate(108deg) rotatex(128.18deg);
}

.pentrap .face:nth-child(8) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * -0.5875)) rotate(180deg) rotatex(128.18deg);
}

.pentrap .face:nth-child(9) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * -0.5875)) rotate(252deg) rotatex(128.18deg);
}

.pentrap .face:nth-child(10) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d10-size) * -0.58)) rotate(324deg) rotatex(128.18deg);
}

.pentrap svg {
fill: rgba(0,0,0,0.3);
stroke-width: 1px;
stroke: var(--blue-6);
}

/*---------- d12 ----------*/
.dodec {
position: relative;
width: var(--dc-size); 
height: calc(var(--dc-size) * 0.9511);
margin: 0 auto; 
border: none;
background: none;
transform-style:preserve-3d;
transform-origin: 50% 50%;
transition: transform 1s ease;
/* border: solid 1px green; */
/* animation: spin 10s ease-in-out infinite; */
}

.dodec div {
display: flex;
position: absolute;
top: 16.75%;
left: 19.75%;
width: var(--d12-size);
height: auto;
transform-origin: 50% 55.27%;
/* border: solid 1px cyan; */
}

/*--- TOP ---*/
.dodec .face:nth-child(1) {
transform: translateZ(calc(var(--d12-size) * .69)) rotate(0deg) rotatex(0deg); /* .38 + .31*/
}

.dodec .face:nth-child(2) {
transform: translateY(65%) translateZ(calc(var(--d12-size) * .31)) rotate(180deg) rotatex(63.4deg);
}

.dodec .face:nth-child(3) {
transform: translateX(-58.7%) translateY(20.15%) translateZ(calc(var(--d12-size) * .31)) rotate(-108deg) rotatex(63.4deg);
}

.dodec .face:nth-child(4) {
transform: translateX(58.7%) translateY(20.15%) translateZ(calc(var(--d12-size) * .31)) rotate(108deg) rotatex(63.4deg);
}

.dodec .face:nth-child(5) {
transform: translateX(-36.3%) translateY(-52.45%) translateZ(calc(var(--d12-size) * .31)) rotate(-36deg) rotatex(63.4deg);
}

.dodec .face:nth-child(6) {
transform: translateX(36.3%) translateY(-52.45%) translateZ(calc(var(--d12-size) * .31)) rotate(36deg) rotatex(63.4deg);
}

/*--- BOTTOM ---*/
.dodec .face:nth-child(7) {
transform: translateZ(calc(var(--d12-size) * -0.69)) rotate(180deg) rotatex(0deg);
}

.dodec .face:nth-child(8) {
transform: translateY(-65%) translateZ(calc(var(--d12-size) * -0.31)) rotate(0deg) rotatex(-63.4deg);
}

.dodec .face:nth-child(9) {
transform: translateX(58.7%) translateY(-20.15%) translateZ(calc(var(--d12-size) * -0.31)) rotate(72deg) rotatex(-63.4deg);
}

.dodec .face:nth-child(10) {
transform: translateX(-58.7%) translateY(-20.15%) translateZ(calc(var(--d12-size) * -0.31)) rotate(-72deg) rotatex(-63.4deg);
}

.dodec .face:nth-child(11) {
transform: translateX(36.3%) translateY(52.45%) translateZ(calc(var(--d12-size) * -0.31)) rotate(144deg) rotatex(-63.4deg);
}

.dodec .face:nth-child(12) {
transform: translateX(-36.3%) translateY(52.45%) translateZ(calc(var(--d12-size) * -0.31)) rotate(-144deg) rotatex(-63.4deg);
}

.dodec svg {
fill: rgba(0,0,0,0.3);
stroke-width: 2px;
stroke: var(--blue-6);
}

/*---------- d20 ----------*/
.icosa {
position: relative;
width: var(--dc-size); 
height: var(--dc-size);
margin: 0 auto; 
transform-style:preserve-3d;
transform-origin: 50% 50%;
border: none;
background: none;
transition: transform 1s ease;
/* animation: spin 10s ease-in-out infinite; */
}

.icosa div {
display: flex;
position: absolute;
top: 50%;
left: 19.75%;
width: var(--d20-size);
height: calc(var(--d20-size) * .866);
/* border: solid 1px cyan; */
}

/* TOP */
.icosa .face:nth-child(1) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * 0.95)) rotatex(-37.35deg); /* .95 */
}

.icosa .face:nth-child(2) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * 0.95)) rotate(72deg) rotatex(-37.35deg);
}

.icosa .face:nth-child(3) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * 0.95)) rotate(144deg) rotatex(-37.35deg);
}

.icosa .face:nth-child(4) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * 0.95)) rotate(216deg) rotatex(-37.35deg);
}

.icosa .face:nth-child(5) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * 0.95)) rotate(288deg) rotatex(-37.35deg);
}

/* TOP MIDDLE */
.icosa .face:nth-child(6) {
transform-origin: 50% 100%;
transform: translateY(-20.5%) translateZ(calc(var(--d20-size) * 0.425)) rotate(180deg) rotatex(79.2deg); /* .425 */
}

.icosa .face:nth-child(7) {
transform-origin: 50% 100%;
transform: translateX(-65.5%) translateY(-75.5%) translateZ(calc(var(--d20-size) * 0.425)) rotate(-108deg) rotatex(79.2deg);
}

.icosa .face:nth-child(8) {
transform-origin: 50% 100%;
transform: translateX(65.5%) translateY(-75.5%) translateZ(calc(var(--d20-size) * 0.425)) rotate(108deg) rotatex(79.2deg);
}

.icosa .face:nth-child(9) {
transform-origin: 50% 100%;
transform: translateX(-40.5%) translateY(-164.3%) translateZ(calc(var(--d20-size) * 0.425)) rotate(-36deg) rotatex(79.2deg);
}

.icosa .face:nth-child(10) {
transform-origin: 50% 100%;
transform: translateX(40.5%) translateY(-164.3%) translateZ(calc(var(--d20-size) * 0.425)) rotate(36deg) rotatex(79.2deg);
}

/* BOTTOM */
.icosa .face:nth-child(11) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * -0.95)) rotate(180deg) rotatex(37.35deg);
}

.icosa .face:nth-child(12) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * -0.95)) rotate(108deg) rotatex(37.35deg);
}

.icosa .face:nth-child(13) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * -0.95)) rotate(36deg) rotatex(37.35deg);
}

.icosa .face:nth-child(14) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * -0.95)) rotate(252deg) rotatex(37.35deg);
}

.icosa .face:nth-child(15) {
transform-origin: 50% 0%;
transform: translateZ(calc(var(--d20-size) * -0.95)) rotate(324deg) rotatex(37.35deg);
}

/* BOTTOM MIDDLE */
.icosa .face:nth-child(16) {
transform-origin: 50% 100%;
transform: translateY(-179.5%) translateZ(calc(var(--d20-size) * -0.425)) rotate(0deg) rotatex(-79.2deg);
}

.icosa .face:nth-child(17) {
transform-origin: 50% 100%;
transform: translateX(-65.5%) translateY(-124.5%) translateZ(calc(var(--d20-size) * -0.425)) rotate(-72deg) rotatex(-79.2deg);
}

.icosa .face:nth-child(18) {
transform-origin: 50% 100%;
transform: translateX(65.5%) translateY(-124.5%) translateZ(calc(var(--d20-size) * -0.425)) rotate(72deg) rotatex(-79.2deg);
}

.icosa .face:nth-child(19) {
transform-origin: 50% 100%;
transform: translateX(-40.5%) translateY(-35.7%) translateZ(calc(var(--d20-size) * -0.425)) rotate(-144deg) rotatex(-79.2deg);
}

.icosa .face:nth-child(20) {
transform-origin: 50% 100%;
transform: translateX(40.5%) translateY(-35.7%) translateZ(calc(var(--d20-size) * -0.425)) rotate(144deg) rotatex(-79.2deg);
}

.icosa svg {
fill: rgba(0,0,0,0.3);
stroke-width: 2px;
stroke: var(--blue-6);
}

@media (max-width: 600px) {
.dodec, .pentrap {
width: 80px;
height: 76px;
perspective: 400px;
transform: scale(0.8);
}
.dodec div, .pentrap div{
transform-style: preserve-3d;
}
}

ul {
list-style: none;
margin: 0;
padding: 0;
}
ul > li {
display: inline-block;
margin: 10px 10px;
}
a {
text-align: center;
color: #fff;
text-decoration: none;
font-size: 25px;
font-weight: bold;
padding: 5px 15px;
width: 40px;
display: inline-block;
border: 1px solid #dcdcdc;
border-radius: 4px;
background-color: #999;
}
a.active {
background-color: #333;
}
a:hover {
background-color: #666;
}
a.randomize {
width: auto;
margin: 20px 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Petemoss&display=swap");

* {
box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
margin: 0;
}

main {
display: flex;
justify-content: center;
background-color: #9a5e5e00;
}

.book {
--book-height: 60vh;
--book-ratio: 1.4;
}

.book > div {
height: var(--book-height);
width: calc(var(--book-height) / var(--book-ratio));
overflow: auto;
background-color: #100000;
transform: scale(0.9);
border-radius: 6px;
transform-origin: left;
}

.book-cover {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
z-index: 9;
text-align: center;
background: linear-gradient(135deg, rgb(22, 22, 22) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);
background-size: 2em 2em;
background-color: #232323;
color: rgb(255, 255, 255);
transition: transform 2s;
}

.book-cover::before {
content: "";
position: absolute;
width: 20px;
right: 20px;
top: 0;
bottom: 0;
background-color: #000000;
}

.separator {
--separator-size: 8px;
width: var(--separator-size);
height: var(--separator-size);
background-color: #fd6500;
margin: 50px auto 60px auto;
border-radius: 50%;
position: relative;
}

.separator::after,
.separator::before {
content: "";
position: absolute;
width: 12px;
background-color: white;
height: 2px;
top: calc(50% - 1px);
}

.separator::after {
left: 15px;
}

.separator::before {
right: 15px;
}

.book-content {
transform: scale(0.9) translateY(30px);
background-color: rgb(0, 0, 0) !important;
color: rgb(0, 0, 0);
transition: all 0.3s 1s;
}

.book-content h3,
.book-content p {
color: rgb(255, 67, 10);
opacity: 0;
transition: all 0.9s 0.9s;
}

.book-cover > div {
transition: opacity 0s 0.6s;
}

.book:hover > .book-cover {
transform: rotateY(180deg) scale(0.9);
}

.book:hover > .book-cover > div {
opacity: 0;
}

.book:hover > .book-content {
color: rgb(255, 67, 10);
transform: scale(0.9) translateY(0px);
}

.book:hover > .book-content h3,
.book:hover > .book-content p {
opacity: 1;
color: rgb(255, 67, 10);
}

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 1);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#overlay img {
max-width: 350px;
max-height: 382px; /* Adjust as needed */
}

@keyframes bounce {
0%, 100% {
    transform: translateY(0);
}
50% {
    transform: translateY(-10px);
}
}

#overlay p {
color: white;
font-size: 24px;
font-weight: bold;
animation: bounce 1s infinite;
}
